<div class="row">
<!-- User Profile -->
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-stat stat-primary">
            <div class="panel-body">
                <div class="row mbxl">
                    <div class="col-xs-8">
                        <span><%= current_user.name %></span>
                        <h4 class="man"><%= current_user.nisn %></h4>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span>Last Login </span>
                        <h4 class="man"><%= time_ago_in_words(current_user.last_sign_in_at) %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Scoring -->
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-stat stat-primary">
            <div class="panel-body">
                <div class="row mbxl">
                    <div class="col-xs-6">
                        <span>Total Aspect</span>
                        <h4 class="man"><%= score_category(current_user.id)%></h4>
                    </div>
                    <div class="col-xs-6">
                        <i class="fa fa-list-alt fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <span>Question</span>
                        <h4 class="man"><%= total_questions %></h4>
                    </div>
                    <div class="col-xs-7">
                        <span>Options</span>
                        <h4 class="man">4</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Participant and class -->
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-stat stat-primary">
            <div class="panel-body">
                <div class="row mbxl">
                    <div class="col-xs-6">
                        <span>Class</span>
                        <h4 class="man"><%= score_category(current_user.id)%></h4>
                    </div>
                    <div class="col-xs-6">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span>Total Participant</span>
                        <h4 class="man"><%= total_questions %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Scoring -->
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-stat stat-primary">
            <div class="panel-body">
                <div class="row mbxl">
                    <div class="col-xs-6">
                        <span>Total Score</span>
                        <h4 class="man"><%= score_category(current_user.id)%></h4>
                    </div>
                    <div class="col-xs-6">
                        <i class="fa fa-line-chart fa-4x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span>Avg Score and Category</span>
                        <h4 class="man"><%= total_questions %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>