<tr id="question_<%= question.id %>">
  <td><%= question.question_text %></td>
  <td><%= question.positive %></td>
  <td>
    <ul class="horizontal-list">
      <li><%= link_to "Edit", [:edit, question.question_group, question], class: 'btn btn-primary btn-sm'  %></li>
      <li><%= link_to "Delete", [question.question_group, question], method: :delete, class: 'btn btn-danger btn-sm'  %></li>
    </ul>
  </td>
</tr>
