<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>
    <div class="col-md-8">
      <div class="form-inputs">
        <%= f.input :name, autofocus: true%>
        <%= f.input :nisn, required: true%>
        <%= f.association :user_group, class: 'select' %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
        <div class="form-actions">
          <%= link_to 'Back', participants_path,class: 'btn btn-primary' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div>
<% end %>
